<div class="grid_10 push_1">

  <%= form_for(@message_board) do |f| %>
    <% if @message_board.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message_board.errors.count, "error") %> prohibited this message_board from being saved:</h2>
        <ul>
        <% @message_board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="grid_6 push_2">
      <p style="font-size: 16px;">Start a discussion</p>
      <div class="rule"></div>
    </div>
    <div class="grid_6 push_2" style="margin-top: 40px;">
      <%= f.label "Title" %><br />
      <%= f.text_field :title, :class => "form_field", :placeholder => "Title of discussion" %>
      <%= f.label "Discussion details/background (optional)" %><br />
      <%= f.text_area :blurb, :class => "desc_field" %>
    </div>

    <div class="submit_btn grid_6 push_2 actions" style="margin-top: 40px;">
      <%= f.submit "save and add" %>
    </div>
  <% end %>

</div>

