<div id="nav_background">
  <div class="container_12">
    <div id="nav_container">
      <a href="/"><span id="logo">The Startup Network</span>
      <span id="beta_logo">{beta}</span>
      <span id="sub_logo">Harvard Business School</span></a>
      <div id="nav_links">
        <ul>
          <li><%= link_to("about", aboutus_path) %></li>
        <% if user_signed_in? %>
          <li><%= link_to("sign out", destroy_user_session_path, :method => "delete") %></li>
          <li><a href="/users/<%= current_user.id %>#my_rolodex">{My Rolodex}</a></li>
          <li><a href="/users/<%= current_user.id %>">{ <%= current_user.first_name %> <%= current_user.last_name %> }</a>
        <% else %>
          <li><%= link_to("sign up", new_user_registration_path) %></li>
          <li><%= link_to("sign in", new_user_session_path) %></li>
        <% end %>
        </ul>
        <%= form_tag("/search", :method => "get") do %>
        <input id="search_bar" style="background: white
                      url(<%=raw image_path('search_field_magnifying_glass.svg')%>)
                      no-repeat; background-position-x: 8px; background-position-y: 45%;"
               type="search" name="query" placeholder="Find a co-founder">
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div id="sub_nav">
    <%= link_to(new_idea_path) do %>
      <div class="sub_nav_btn" style="background-color:#E0736F;">
        Add Idea
      </div>
    <% end %>
    <%= link_to(all_ideas_path) do %>
      <div class="sub_nav_btn" style="background-color:#94C0CC; left: 25%;">
        View Ideas
      </div>
    <% end %>
    <%= link_to(all_message_boards_path) do %>
      <div class="sub_nav_btn" style="background-color:#E9C464; left: 50%;">
        Message Board
      </div>
    <% end %>
    <%= link_to(edit_user_registration_path) do %>
      <div class="sub_nav_btn" style="background-color:#7587A3; left: 75%;">
        Update My Profile
      </div>
    <% end %>
  </div>
<% end %>


